.media {

	.section-inner {
		padding-bottom: 104px;
	}

	.section-paragraph {
		margin-bottom: 48px;
	}
}

.feature-logo {
	display: inline-flex;
	width: 35%;
	height: auto;
	// padding: 10px 25px 20px 5px;
	white-space: nowrap;
}

.qr-code {
	display: inline-flex;
	width: 45%;
	height: auto;
	padding: 10px 25px 20px 5px;
	white-space: nowrap;
}

@include media('>medium') {

	.media {
		position: relative;

		.section-inner {
			padding-bottom: 100px;
		}

		.section-title {
			position: relative;
			margin-bottom: 40px;

			&::before {
				content: '';
				position: absolute;
				left: 760px;
				top: -25px;
				width: 49px;
				height: 50px;
				background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDkiIGhlaWdodD0iNTAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+ICA8ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPiAgICA8cGF0aCBmaWxsPSIjMjczQzVBIiBkPSJNMTQuMTM4IDlsLTcuOTczIDMuNjY3TDQgMjAuNDMybDIuNTQ3IDcuMzkzTDE0LjEzNyAzMWw3LjE0OC0zLjYwNUwyNiAyMC40MzJsLTMuNTYzLTguMDgzeiIvPiAgICA8cGF0aCBmaWxsPSIjNzQ4N0EzIiBkPSJNNDYuMzA0IDBsLTEuODEyLjgzM0w0NCAyLjU5OGwuNTc5IDEuNjhMNDYuMzA0IDVsMS42MjQtLjgyTDQ5IDIuNTk5IDQ4LjE5Ljc2MXpNMi4zMDQgNDVsLTEuODEyLjgzM0wwIDQ3LjU5OGwuNTc5IDEuNjhMMi4zMDQgNTBsMS42MjQtLjgyTDUgNDcuNTk5bC0uODEtMS44Mzd6Ii8+ICA8L2c+PC9zdmc+);
			}
		}
	}
}

.media-canvas {
	position: relative;

	svg {
		position: relative;
		/* To display the canvas above the illustration */
		width: 100%;
		height: auto;
	}

	&::before {
		content: '';
		position: absolute;
		right: 900;
		top: 400px;
		background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjU3IiBoZWlnaHQ9IjI3OSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gIDxkZWZzPiAgICA8bGluZWFyR3JhZGllbnQgeDE9IjguNjg1JSIgeTE9IjIzLjczMyUiIHgyPSI5OS40MzUlIiB5Mj0iODUuMDc4JSIgaWQ9ImEiPiAgICAgIDxzdG9wIHN0b3AtY29sb3I9IiMxRDMwNEIiIG9mZnNldD0iMCUiLz4gICAgICA8c3RvcCBzdG9wLWNvbG9yPSIjMUQzMDRCIiBzdG9wLW9wYWNpdHk9IjAiIG9mZnNldD0iMTAwJSIvPiAgICA8L2xpbmVhckdyYWRpZW50PiAgPC9kZWZzPiAgPHBhdGggZD0iTTE4MzAuMTcxIDEwMTcuNjRjMTYwLjA4NiAwIDcwMi41MjctMjI4LjI2IDI4OS44NjItMjkwLTQxMi42NjYtNjEuNzM3LTEyOS43NzYtMjkwLTI4OS44NjItMjkwcy0yODkuODYxIDEyOS44MzgtMjg5Ljg2MSAyOTBjMCAxNjAuMTYzIDEyOS43NzUgMjkwIDI4OS44NjEgMjkweiIgdHJhbnNmb3JtPSJzY2FsZSgtMSAxKSByb3RhdGUoLTYgLTU4NTQuMTU0IDIyMTE0Ljg1NykiIGZpbGw9InVybCgjYSkiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==);
	}
}

.media-control {
	position: absolute;
	top: calc(50% - 24px);
	left: calc(50% - 24px);
	cursor: pointer;

	svg {
		width: 48px;
		height: 48px;
		overflow: visible;
	}
}

.hero-media-dots {
	display: none;
	position: relative;
	bottom: 30%; // 220px;
	left: -5% // -40px;
}


.carousel {
	margin-top: 10%;
	margin-bottom: -25%;

}

@media only screen and (min-width: 768px) {
	.carousel {
		margin-top: 5%; // 40px;
		margin-bottom: -57%; // -450px;

		.hero-media-dots {
			display: block;
		}
	}
}

@include media('>small') {

	.media {

		.section-inner {
			padding-bottom: 20px;
		}

		.section-paragraph {
			padding-left: 72px;
			padding-right: 72px;
			margin-bottom: 80px;
		}
	}

	.media-canvas {

		&::before {
			width: 530px;
			height: 380px;
			bottom: 128px;
			left: calc(50% - 275px);
			background-size: 530px 380px;
		}
	}

	.media-control {
		top: calc(50% - 48px);
		left: calc(50% - 48px);

		svg {
			width: 96px;
			height: 96px;
		}
	}
}